# Byte-compiled
__pycache__/
*.py[cod]

# Unit test / coverage reports
.pytest_cache/

# Environments
.venv

# IntelliJ project files
.idea/

# Archivos recolectados fusionados
data/raw/scraped_merged/